.head{
    text-align: center;
  }
  .head button{
    width: 190px;
    height: 50px;
    border-radius: 10px;
   
  }
  .allProducts{
      display: grid;
      grid-template-columns: 300px 300px 300px 300px 300px;
      gap: 10px;
      align-items: center;
      justify-content: center;
  }
  .product-card {
      border: 1px solid #ddd;
      padding: 10px;
      margin: 10px;
      
      text-align: center;
      width: 300px;
      height: 500px;
    }
    .images{
      width: 174px;
      height: 190px;
      margin: 0 auto;
      padding-top: 30px;
    }
    .images img{
      text-align: center;
      width: 170px;
      height: 130px;
      
    }
    
    .descriptions{
      height: 240px;
    }
    
    
    button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
    .buttons{
      display: flex;
      justify-content: space-around;
    } 

.discount{
  display: flex;
  align-items: center;
  justify-content: space-around;
}